#json-view-label {
    font-family: sans-serif;
    font-size: 32px;
    font-weight: 500;
}

#json-output {
    min-width: 400px;
    font-size: 12px;
}

#json-entry-label{

}

#json-entry-label-cooldown{
    /*background-color: black;*/
    animation-name: highlight;
    animation-duration: 1s;
}

#json-view-component{
    
}

@keyframes highlight {
    0%{
        background-color: rgba(255, 255, 0, 1);
    }
    100%{
        background-color: rgba(255, 255, 0, 0);
    }
}